.loading {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginModal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 70%;
    height: 65%;
    border-radius: 20px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    z-index: 5000;
}

.modal-bg2 {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 51%);
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}
.modal-text {
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    text-align: center;
}
.machine-button {
    margin-top: -10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 3px; 
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
.bg-pending1 {
    background-color: rgb(146, 146, 0);
}
.bg-success1 {
    background-color: #60af72; /* Customize background color for "Yes" button */
}

.bg-danger1 {
    background-color: #bb7279; /* Customize background color for "No" button */
}
.input3 {
    border-radius: 10px;
    border-width: 100%;
}

@media (min-width: 400px) {
    .loginModal {
        height: 55%;
    }
}

@media (min-width: 800px) {
    .loginModal {
        width: 35%;
        height: 50%;
    }
}

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }
  
  .badge:empty {
    display: none;
  }
  
  .btn .badge, .ajax-upload-dragdrop .ajax-file-upload .badge, .swal2-modal .swal2-buttonswrapper .swal2-styled .badge {
    position: relative;
    top: -1px;
  }

  .badge {
    border-radius: 20px;
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: bold;
  }
  
  .badge.badge-pill {
    border-radius: 10rem;
  }
  
  .badge-outline-primary {
    color: #1F3BB3;
    border: 1px solid #1F3BB3;
  }
  
  .badge-outline-secondary {
    color: #F1F1F1;
    border: 1px solid #F1F1F1;
  }
  
  .badge-outline-success {
    color: #34B1AA;
    border: 1px solid #34B1AA;
  }
  
  .badge-outline-info {
    color: #52CDFF;
    border: 1px solid #52CDFF;
  }
  
  .badge-outline-warning {
    color: #ffaf00;
    border: 1px solid #ffaf00;
  }
  
  .badge-outline-danger {
    color: #F95F53;
    border: 1px solid #F95F53;
  }
  
  .badge-outline-light {
    color: #fbfbfb;
    border: 1px solid #fbfbfb;
  }
  
  .badge-outline-dark {
    color: #1E283D;
    border: 1px solid #1E283D;
  }
  
  .badge-opacity-primary {
    background: #b6c1f2;
    color: #172d88;
  }
  
  .badge-opacity-secondary {
    background: white;
    color: #d8d8d8;
  }
  
  .badge-opacity-success {
    background: #E9FAEF;
    color: #24D164;
  }
  
  .badge-opacity-info {
    background: white;
    color: #1fbeff;
  }
  
  .badge-opacity-warning {
    background: #FEFCED;
    color: #F7E222;
  }
  
  .badge-opacity-danger {
    background: #FAE9E5;
    color: #D14324;
  }
  
  .badge-opacity-light {
    background: white;
    color: #e2e2e2;
  }
  
  .badge-opacity-dark {
    background: #768cbb;
    color: #0d121b;
  }
  
  .badge-primary {
    color: #1F3BB3;
    border: 1px solid #1F3BB3;
  }
  
  .badge-secondary {
    color: #F1F1F1;
    border: 1px solid #F1F1F1;
  }
  
  .badge-danger {
    color: #F95F53;
    border: 1px solid #F95F53;
  }
  
  .badge-light {
    color: #fbfbfb;
    border: 1px solid #fbfbfb;
  }
  
  .badge-dark {
    color: #1E283D;
    border: 1px solid #1E283D;
  }